<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" name="viewport"/>

    <title>barebone Fore form</title>

</head>
<body unresolved="unresolved">
<div class="wrapper">

    <fx-fore>
        <fx-moodel>
            <fx-instance></fx-instance>
        </fx-moodel>
        ...add UI here...
    </fx-fore>

</div>
<script type="module">
    import '../dist/fore.js';
</script>
</body>
</html>