<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" name="viewport"/>
    <title>Demo</title>
    <link href="../resources/demo.css" rel="stylesheet">
</head>
<body>
<fore-corner href="../doc/demos.html" title="Back to Demos"></fore-corner>

<div class="wrapper">
    <h1>[title]</h1>
    <demo-snippet>
        <template>
            <fx-fore>
            </fx-fore>
        </template>
    </demo-snippet>
</div>
<script type="module" src="./demo.js"></script>
</body>
</html>