body {
    padding:20px;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 1.2rem;
}

#modalMessage{
    background:orange;
}
#modalMessage .dialogActions{
    text-align:center;
}

.wrapper{
    max-width: 800px;
    margin:0 auto;
}

