@import 'vars.css';
@import 'fore.css';
body {
    padding:20px;
    font-family: 'Roboto', 'Noto', sans-serif;
    /*background: var(--paper-orange-300);*/
    background: var(--paper-cyan-300);
}
code{
    font-weight: 700;
    white-space: nowrap;
    padding:0 0.3rem;
}
h1{
    /*color:var(--paper-orange-900);*/
    color:var(--paper-cyan-500);
}
h2{
    /*color:var(--paper-orange-800);*/
    color:var(--paper-cyan-500);
}
#modalMessage{
    background:orange;
}
#modalMessage .dialogActions{
    text-align:center;
}
.nav-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:nowrap;
}
.note{
    /*background: var(--paper-amber-300);*/
    background: var(--paper-cyan-100);
    padding:10px;
}
p{
    font-size:1.4rem;
    font-weight: 300;
}
.wrapper{
    max-width: 800px;
    margin:0 auto;
    padding:1rem;
}

a, a:link, a:visited {
    color:var(--paper-cyan-700);
}
.redline{
    padding: 1rem 2rem;
    border:thin solid white;
    text-align: center;
    width: 100px;
}
.redline.next{
    align-self: flex-end;
}
.redline.prev{
    align-self: flex-start;
    border-right: none;
}
.wrapper:before{
    content:'Fore';
    position: fixed;
    left:60%;
    transform: rotate(325deg) translateY(-50%) translateX(-50%);
    top:0;
    font-size:1024px;
    z-index: -1;
    opacity: 0.06;
    color:var(--paper-cyan-900);
}

.wrapper{
    width:80%;
    height:auto;
    max-width:1200px;
    margin: 0 auto;
    background: var(--paper-cyan-100);
    opacity: 0.95;
    position: relative;
    min-height:80vh;
}
