[unresolved]{
    display: none;
}

fx-alert{
    color:darkred;
    font-size: 0.9rem;
}

fx-model, fx-model *, fx-model ::slotted(fx-instance), fx-instance{
    display:none;
}

fx-control{
    white-space: nowrap;
}
.required:after {
    content: '*';
    color: red;
    padding-left: 4px;
}

fx-control [required]:after {
    content: "*";
    display: inline;
    color: red;
}
.logtree details{
    padding:0.1rem 1rem;
    margin:0;
}
.logtree details summary{

}

.vertical label{
    display: block;
}

