@import 'toastify.css';
@import 'vars.css';

html{
    --inspector-bg:var(--paper-grey-300);
    --inspector-pre-bg:var(--paper-grey-100);
    --inspector-color:var(--paper-grey-800);
    --inspector-instance-height:200px;
    --inspector-handle-bg: var(--paper-blue-500);
    --inspector-handle-width: 30px;

}
[unresolved]{
    display: none;
}
[disabled] {
    pointer-events: none;
    cursor: default;
}
fx-fore{
    opacity: 0;
}
fx-fore.fx-ready{
    opacity: 1;
}
fx-group, fx-switch, fx-repeat, fx-dialog{
    display: block;
}
fx-trigger a[disabled] {
    color:lightgrey;
}
fx-trigger img[disabled]{
    filter:blur(2px);
}

.error{
    background: var(--paper-red-500);
}
fx-alert{
    color:darkred;
    font-size: 0.9rem;
}

fx-model, fx-model *, fx-model ::slotted(fx-instance), fx-instance{
    display:none;
}

fx-control, fx-trigger{
    white-space: nowrap;
    position: relative;
}
.fx-checkbox{
    white-space: nowrap;
}
fx-hint{
    display: none;
}
fx-repeatitem{
    position:relative;
    /*
    opacity:1;
    -webkit-transition: opacity 3s;
    -moz-transition: opacity 3s;
    transition: opacity 3s;
    */
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

/* fx-inspector styles */

/* ### FX-DIALOG STYLES ### */
/* ### FX-DIALOG STYLES ### */
/* ### FX-DIALOG STYLES ### */
fx-dialog{
    display: none;
    opacity: 0;
    transition: opacity 1s linear;
}
fx-dialog.show{
    display: block;
    min-height: 200px;
    border-radius: 0.5rem;
    opacity: 1;
    background:rgba(0,0,0,0.5);
    z-index: 10;
    transition: opacity 2s linear;
}

fx-dialog.show .dialog-content{
    padding: 1rem;
    width:fit-content;
    height:fit-content;
    border:thin solid;
    border-radius: 0.3rem;
    position: absolute;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    background: white;

}
fx-dialog a.close-dialog{
    position: absolute;
    right: 0.4rem;
    top:0.2rem;
    color:var(--paper-grey-900);
    text-decoration: none;
    font-size:1.2rem;
}
fx-dialog .action{
    width: 100%;
    text-align: center;
    display: block;
}



/*
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}
*/

.required:after {
    content: '*';
    color: red;
    padding-left: 4px;
    right:3px;
    top:3px;
    z-index: 1;
}

[required]:after {
    content: "*";
    display: inline;
    color: red;
}
.logtree details{
    padding:0.1rem 1rem;
    margin:0;
}
.logtree details summary{

}
.non-relevant{
    opacity: 0;
    height: 0;
    transition: opacity 1s;
}
.vertical label{
    display: block;
}
[refresh-on-view]{
    /*opacity: 0;*/
}
.loaded{
    animation: fadein 0.3s forwards;
}
/* avoid flicker from nested lazily loaded elements */
.loaded .loaded{
    animation: none;
    opacity: 1;
}
@keyframes fadein {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
