body{
    margin:0;
    padding: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    background:var(--paper-amber-500);
    width: 100%;
    height:100%;
}

h1{
    /*color:var(--paper-blue-900);*/
    color:var(--paper-amber-900);
    font-weight: 300;
    font-size: 64px;
    white-space: nowrap;
}
h2{
    /*color:var(--paper-blue-700);*/
    color:var(--paper-amber-700);
    font-weight: 300;
    font-size: 52px;
    white-space: nowrap;

}


h3{
    font-weight: 400;
    font-size: 28px;

    /*font-style: italic;*/
    letter-spacing: 2px;
    /*color:var(--paper-blue-600);*/
    color:var(--paper-grey-600);

}
code{
    font-size:16px;
    color:var(--paper-grey-900);
    font-weight: 600;
}
.demos{
    padding: 50px;
}
.demos a{
    padding-left:20px;
    font-weight: 300;
    text-decoration: underline;
    color:var(--paper-amber-900);
}
.logo{
    width:500px;
    margin: 0 auto;
    /*position: absolute;*/
    left: 0;
    top:-15px;
}

.topic{
    max-width: 600px;
}

.note{
    background: var(--paper-blue-100);
    padding:10px;
    line-height: 1.5;
}
.hint{
    background: var(--paper-blue-grey-100);
    padding:10px;
    line-height: 1.5;
}

.source{
    font-size: small;
    font-style:italic;
}
a {
    color:var(--paper-blue-900);
    font-weight: 700;
    text-decoration: none;
}
.demos a{
    display: block;
}

li{
    padding:4px 0;
}
p{
    line-height: 1.5;
}

td{
    vertical-align: top;
    padding: 10px;
    font-weight: lighter;
}
td:first-child{
    white-space: nowrap;
}
thead td{
    font-weight: bold;
    background: var(--paper-blue-grey-100);
    color:var(--paper-blue-500);
}


.attributes tr td:first-child{
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
}
.wrapper{
    width:80%;
    height:100%;
    max-width:1200px;
    margin: 0 auto;
    background: var(--paper-amber-300);
    position: relative;
}

