body{
    font-family: 'Roboto', 'Noto', sans-serif;
    padding: 15px;
    font-weight: 300;
}

h1{
    color:var(--paper-blue-900);
    font-weight: 600;
}
h2{
    color:var(--paper-blue-700);
    font-weight: 500;
}
h3{
    font-weight: 400;
    /*font-style: italic;*/
    letter-spacing: 2px;
    color:var(--paper-blue-600);

}

.demos a{
    padding-left:20px;
    font-weight: 300;
    text-decoration: underline;
}

.topic{
    max-width: 600px;
}

.note{
    background: var(--paper-blue-100);
    padding:10px;
    line-height: 1.5;
}
.hint{
    background: var(--paper-blue-grey-100);
    padding:10px;
    line-height: 1.5;
}

.source{
    font-size: small;
    font-style:italic;
}
a {
    color:var(--paper-blue-900);
    font-weight: 700;
    text-decoration: none;
}
.demos a{
    display: block;
}

li{
    padding:4px 0;
}
p{
    line-height: 1.5;
}

td{
    vertical-align: top;
    padding: 10px;
    font-weight: lighter;
}
td:first-child{
    white-space: nowrap;
}
thead td{
    font-weight: bold;
    background: var(--paper-blue-grey-100);
    color:var(--paper-blue-500);
}
