input, select, textarea {
    width: 100%;
}
label{
    display: block;
}

fx-control{
    display: block;
    width: 20rem;
    padding: 0.5rem;
}

fx-group{
    padding: 0.5rem;
    margin:0.5rem;
    border:thin solid lightgrey;
}
body{
    width: 74rem;
    margin:0 auto;

}

fx-fore > fx-group{
    display: flex;
    flex-wrap:wrap;
}
fx-group[relevant]   fx-group,
fx-repeatitem[relevant]{
    display: flex;
    flex-wrap: wrap;
}
fx-group fx-group > fx-contro{
    width: 30%;
}
header{
    display: block;
    width: 100%;
}
