body{
    width: 74rem;
    /*margin:0 auto;*/
    font-family: sans-serif;
}

input, select, textarea {
    width: 100%;
}
label{
    display: block;
}

fx-control{
    display: block;
    width: 20rem;
    padding: 0.5rem;
}
fx-trigger{
    padding: 0.5rem;
}

fx-group{
    padding: 0.5rem;
    margin:0.5rem;
    border:thin solid lightgrey;
}

fx-fore > fx-group[relevant]{
    display: flex;
    flex-wrap:wrap;
}
fx-group[relevant]   fx-group,
fx-repeatitem[relevant]{
    display: flex;
    flex-wrap: wrap;
}
fx-group fx-group > fx-contro{
    width: 30%;
}
.repeat-container{
    margin:1rem 0;
    display: block;
    width: 100%;
}

fx-repeat{
    /*background: lightgrey;*/
    border:thin solid blue;
}
fx-repeatitem{
    margin:0.25rem 0;
    border:thin solid lightgrey;
}
[repeat-index]{
    background: ghostwhite;
}
fx-repeatitem fx-trigger{
    align-self: flex-end;
}
header{
    display: block;
    width: 100%;
}
#BT-1{

}
