input {
    width: 100%;
}
label{
    display: block;
}

fx-control{
    display: inline-block;
    width: 20rem;
    padding: 0.5rem;
}

fx-group{
    padding: 0.5rem;
    margin:0.5rem;
    border:thin solid lightgrey;
}