.brand{
    position:absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    top:30px;
    left:50%;
    transform:translateX(-50%);
    background: gold;
    overflow: hidden;
    opacity: 0.8;
    border:thin inset darkgoldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-style: italic;
    font-weight:900;
    color:darkgoldenrod;
}

.circle{
    width: 200px;
    height: 200px;
    position: absolute;
    background: conic-gradient(gold, darkgoldenrod);
    border-radius: 50%;
    transition:all 0.9s forwards;
}

.clock{
    width: 200px;
    height: 200px;
    background: transparent;
    border-radius: 50%;
    position: relative;
    margin:0 auto;
    border:thin solid darkgoldenrod;

    border:0.0625em solid #444;
    border-radius:50%;
    box-shadow:
            inset 0.125em 0.25em 0.5em #0005,
            -0.25em -0.5em 0.5em #FFFC,
            0 0 0.0625em 0.5em #777,
            0 0 0.0625em 0.5625em #000,
            0.125em 0.25em 0.5em 0.5em #0004;
}
.clock {
    color: white;
}
.clock::before{
    position: absolute;
    content:'12';
    left: 50%;
    transform: translateX(-50%);
    /*color: white;*/
}
.clock::after{
    position: absolute;
    bottom:0;
    content:'6';
    left: 50%;
    transform: translateX(-50%);
}

.clock span{
    position: absolute;
    top:50%;
    left:3px;
    transform: translateY(-50%);
    background: black;
}
.clock span::before{
    display: inline-block;
    position: absolute;
}

.clock .three-nine{
    width: 100%;
}
.clock .three-nine::before{
    position: absolute;
    content:'3';
    right: 3px;
    top:-9px;
}

.clock .three-nine::after{
    position: absolute;
    content:'9';
    top:-9px;
}

/*
        .clock .tick{
            width: 100%;
            display: inline-block;
            height: 2px;
        }

        .clock .ticks1{
            transform: rotate(30deg);
        }

        .clock .ticks1::before{
            position: absolute;
            content:' ';
            background: black;
            width: 1.5rem;
        }
        .clock .ticks2{
            transform: rotate(60deg);
        }
*/
/*
        .tick + .tick{
            transform:rotate(90deg);
        }
*/



.display-time{
    position: absolute;
    left:50%;
    top:65%;
    transform:translateX(-50%);
    padding: 0.2rem;
    font-weight: 300;
    font-size: 1.4rem;
}
.hour,.minute {
    position: absolute;
    width: 6px;
    top: 0;
    left: 49%;
    transform-origin: bottom;
    border-radius: 50%;
    transition:all 1s;
    box-shadow: 0px 0px 10px 2px white;
}
.hour{
    height: 60px;
    background: #333;
    top:40px;
}
.minute{
    height: 80px;
    background: black;
    width: 6px;
    top:20px;
}

/*
        .circle::before{
            position: absolute;
            content:attr(data-secs);
            transform: rotate(0deg);
            left:50%;
            top:2rem;
            transform: translateX(-50%);
            background: white;
            border-radius: 50%;
        }
*/
