fx-hint {
    display: none;
}

.tp-delete button {
    color: red;
}

label {
    padding-right: 1em;
    white-space: nowrap;
}


.tp-form-group-col {
    /*
    display: grid;
    grid-template-columns: 1fr 6fr;
    */
}
.tp-form-group-col.block {
    display: block;
}

.tp-form-group-col .row > div{
    display: grid;
    grid-template-columns: 1fr 6fr;
}
fieldset > div , fx-group > div{
    display: grid;
    grid-template-columns: 1fr 6fr;

}

fx-repeat{
    display: block;
}
fx-repeatitem{
    background: rgba(255,255,255,0.5);
    /*filter: opacity(0.5);*/

    display: block;
    padding:2px;
    margin:0.5rem 0;
}
fx-repeatitem[repeat-index]{
    background: rgba(255,255,255,0.85);
    outline: #1e88e5 solid;
}

main > section{
    background:white;
    padding:1rem;
  
}