name: CI
on:
    - push
    - pull_request
jobs:
    test:
        name: Tests on node.js ${{ matrix.node-version }}
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version:
                    - 20
                    - 22
                    - 24
        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Install dependencies
              run: npm ci
            - name: Build Fore
              run: npm run build
            - name: Run tests
              run: npm test --headless
    cypress-run:
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            # Install NPM dependencies, cache them correctly
            # and run all Cypress tests
            - name: Cypress run
              uses: cypress-io/github-action@v6
              with:
                install-command: |
                  npm run install-demos
                start: npm run start-cypress
