name: CI
on:
    - push
    - pull_request
jobs:
    test:
        name: Tests on node.js ${{ matrix.node-version }}
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version:
                    - 16
        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Install dependencies
              run: npm ci
            - name: Build Fore
              run: npm run build
            - name: Run tests
              run: npm test --headless
